.main {
    display: flex;
    display: flex;
    margin: 5%;
    height: fit-content;
    &__container {
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      justify-content: flex-start;
      padding: 0 1.5rem;

      @media screen and (max-width: 768px) {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
      }
   
    }
  }
  